<section class="ftco-section bg-light" id="skills-section">
    <div class="container ftco-animate">
        <div class="row justify-content-center pb-5 ftco-animate">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4" id="crm">Angular Stats Website</h1>

                <div class="col-md-12">
                    <img src="images/home1.jpg" style="width: 80%;" alt="Homepage of Angular application created by Denzel Awuah.
                     Use nav bar to browse the application and view all angular components." />
                </div>
            </div>
        </div>
        <div class="col-md-12 justify-content-center text-center" style="margin-bottom:20px;">
          <div class="row justify-content-center text-center">
              <div class="" id="logo">
                <i class="devicon-angularjs-plain-wordmark colored" id="sql"></i>
              </div>
              <div class="" id="logo">
                <i class="devicon-typescript-plain colored" id="javas"></i>
              </div>
              <div class="" id="logo">
                  <i class="devicon-html5-plain-wordmark colored " id="html"></i>
              </div>
              <div class="" id="logo">
                  <i class="devicon-css3-plain-wordmark colored" id="css"></i>
              </div>
              <div class="" id="logo">
                <i class="devicon-javascript-plain colored" id="jq"></i>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <ul>
                    <li>Created and Designed a web app to view statistics from the English Premier League</li>
                    <li>Developed using Angular</li>
                    <li>Used Restful API to retrieve and display statistics information </li>
                    <li>View match schedules and stats from all Teams and Players in the league. </li>
                    <a id="button1" href="https://github.com/Denzel-Awuah/SoccerSite">View on Github</a>
                </ul>
            </div>

        </div>
    </div>
</section>
