<section class="ftco-section bg-light" id="skills-section">
    <div class="container ftco-animate">
        <div class="row justify-content-center pb-5 ftco-animate">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4" id="crm">Client-Server Transfer Program</h1>

                <div class="col-md-12">
                    <img src="images/graph.jpg" style="width: 80%;"  alt="Client Server Program created by Denzel Awuah using
                    C programming language"/>
                </div>
            </div>
        </div>
        <div class="col-md-12 justify-content-center text-center" style="margin-bottom:20px;">
            <div class="row justify-content-center text-center">
                <div class="" id="logo">
                    <i class="devicon-c-plain-wordmark colored" id="html"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <ul>
                    <li>Built a program to transfer files between a server and multiple clients</li>
                    <li>Developed using C</li>
                    <li>Use of Pipes and FIFOs to create communications channel </li>
                    <li>Program reads and creates copies of files on server to send to clients when requested</li>
                    <a id="button1" href="https://github.com/Denzel-Awuah/Client-Server-File-Transfer">View on Github</a>
                </ul>
            </div>

        </div>
    </div>
</section>
