<section class="ftco-section bg-light" id="skills-section">
    <div class="container ftco-animate">
        <div class="row justify-content-center pb-5 ftco-animate">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4" id="crm">
                    C# Projects <i class="devicon-csharp-plain-wordmark colored" id="sharpc"></i>
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/graph.jpg" style="width: 100%;" />
                    </div>
                    <div class="col-md-4">
                        <img src="images/search.png" style="width: 100%; height:250px;" />
                    </div>
                    <div class="col-md-4">
                        <img src="images/trie.png" style="width: 100%; height:250px;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate">          
                <h3 class="heading mb-3 text-center">Graphs</h3>
                <h6 class="heading mb-3 text-center" style="margin-bottom:12px;">Adjacency List/Matrix Program</h6>
                <ul>
                    <li>Implemented an Adjacency List and an Adjacency Matrix using C#</li>
                    <li>Users can add, remove and find vertices and edges within a Directed graph</li>
                    <li>Can identify different types of edges within a graph (Tree,Back,Edge or Cross) </li>
                
                </ul>                
            </div>
            <div class="col-md-4 ftco-animate">
                <h3 class="heading mb-3 text-center">Searching Algorithms</h3>
                <h6 class="heading mb-3 text-center" style="margin-bottom:12px;">Depth-First Search & Breath-First Search</h6>
                <ul>
                    <li>Implementation of both Depth-First Search and Breath-First Search algorithms using C#</li>
                    <li>Can perform both searching algorithms on a Directed graph or Binary search Tree </li>
                    <li>Print results of each searching algorithm </li>
                </ul>
            </div>
            <div class="col-md-4 ftco-animate">
                <h3 class="heading mb-3 text-center">Tries</h3>
                <h6 class="heading mb-3 text-center" style="margin-bottom:12px;">R-Way & Ternary Tree Tries</h6>
                <ul>
                    <li>Implemented both R-Way Tree and Ternary Tree using C# </li>
                    <li>Users can insert, delete and find keys in each Trie</li>
                    <li>PartialMatch Method allows users to search for keys in the trie based on string pattern containing wildcards</li>
                    <li>AutoComplete Method allows users to search for keys based on the beginning string prefix</li>
                </ul>
            </div>
        </div>
    </div>
</section>
