    <!-- Home Section-->

<section id="home-section" class="hero">
    <div class="home-slider  owl-carousel">
        <div class="slider-item ">
            <div class="overlay"></div>
            <div class="container">

                <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" >
                    <img id="firstpic" class="one-third order-md-1 img animated bounceInDown" src="images/linkedpic.jpg" alt="Denzel Awuah, Software Developer">
                        <div class="overlay"></div>
                    </img>
                    <div class="one-forth d-flex  align-items-center animated bounceInDown" >

                        <div id="firstimgwords" class="text owlsub">
                            <span id="owlsubheading" class="subheading">Hello</span>
                            <h1 class="mb-4 mt-3">I'm <span>{{developerName}}</span></h1>
                            <h2 id="softwareengineer" class="mb-4">A Software Engineer </h2>
                            <p><a href="#about-section" class="btn-custom">More about me!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" >
                    <img class="one-third order-md-last img" src="images/newgrad.jpg" style="object-fit: cover;"  alt="Denzel Awuah participating in the first ever Electric city Hackathon at Trent University">
                        <div class="overlay"></div>
                    </img>
                    <div class="one-forth d-flex align-items-center" >

                        <div id="secondimgwords" class="text owlsub">
                          <h1 class="mb-4 mt-3">Honours B.SC in <span> Computer Science</span> </h1>
                            <p><a href="#projects-section" class="btn-custom">Check out my work!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" >
                    <img class="one-third order-md-last img" src="images/hackdenzel2.jpg" style="object-fit: cover;" alt="Denzel Awuah, Event Organizer at the 3rd annual Trent University Electric City Hackathon">
                        <div class="overlay"></div>
                    </img>
                    <div class="one-forth d-flex align-items-center" >

                        <div id="thirdimgwords" class="text owlsub">
                            <h1 class="mb-4 mt-3">Need a developer? <span><br />Call me!</span></h1>
                            <p><a href="#contact-section" class="btn-custom">Send me a Message!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 



<!-- About Sectoion-->
<section class="ftco-about ftco-counter img ftco-section" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch"
                style="height: 517px;">
                    <div class="overlay" style="border-radius: 5px;"></div>
                    <img src="images/batadenzel.jpg" class="img d-flex align-items-center"
                     style="width:100%;  border-radius:25px; "  data-aos="fade-right" data-aos-duration="1000" data-aos-delay="150" alt="Software Developer, Denzel Awuah at Trent University">
                    </img>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 py-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section">
                        <span class="subheading">Welcome</span>
                        <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Me</h2>
                        <p  data-aos="fade-right" data-aos-duration="1500" data-aos-delay="150">
                            My name is Denzel Awuah and I am a Software Engineer that specializes in the design, development,
                            application, implementation and testing of web applications. I graduated from Trent University in June 2020
                            with a Honours degree in Computer Science with a Specialization in Software Engineering.
                        </p>
                    </div>
                </div>
                <div class="row" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
                    <div class="col-md-6">
                        <div class="media block-6 services d-block ftco-animate">
                            <div class="icon"><span class="flaticon-web-design"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Web Design</h3>
                                <p>
                                    I've been designing web apps for over 4 years now. This web application was made using Node js,
                                    Express and express-handlebars.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media block-6 services d-block ftco-animate">
                            <div class="icon"><span class="flaticon-ux-design"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Web Application</h3>
                                <p id="handlebars">
                                    Handlebars.js is a templating engine used to develop and compile
                                    templates into javascript functions. This allows for much faster execution of the templates being used for a web
                                    applicaition.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="counter-wrap ftco-animate d-flex mt-md-3">
                    <div class="text p-4 pr-5 bg-primary" style="border-radius: 5px;">
                        <p class="mb-0">
                            <span>+</span> <span class="number" data-number="15">0</span><br/>
                            <span>Finished Projects</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Skills Section-->
<section class="ftco-section bg-light " id="skills-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Skills</span>
                <h2 class="mb-4">My Skills</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="150">
                <div class="progress-wrap ftco-animate">
                    <h3>React.js</h3>
                    <div class="progress">
                        <div class="progress-bar color-3" role="progressbar" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                           <b> <span class="shimmer">2 Years</span></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animate-box" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="150">
                <div class="progress-wrap ftco-animate">
                    <h3>Angular.js</h3>
                    <div class="progress">
                        <div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            <span class="shimmer">2 Years</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animate-box" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="150">
                <div class="progress-wrap ftco-animate">
                    <h3>C#</h3>
                    <div class="progress">
                        <div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
                             aria-valuemin="0" aria-valuemax="100" style="width:90%">
                            <span class="shimmer">6 Years</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animate-box" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="150">
                <div class="progress-wrap ftco-animate">
                    <h3>Javascript</h3>
                    <div class="progress">
                        <div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
                             aria-valuemin="0" aria-valuemax="100" style="width:80%">
                            <span class="shimmer">4 Years</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animate-box" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="150">
                <div class="progress-wrap ftco-animate">
                    <h3>.NET Core</h3>
                    <div class="progress">
                        <div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            <span class="shimmer">2 Years</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animate-box" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="150">
                <div class="progress-wrap ftco-animate">
                    <h3>Java</h3>
                    <div class="progress">
                        <div class="progress-bar color-2" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width:85%">
                            <span class="shimmer">5 Years</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center py-5 mt-5"  data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="150">
            <div  class="col-md-6 heading-section text-center ftco-animate">
                <span id="whatido" class="subheading">What I Do - </span>
                <!--  <h2 class="mb-4">Software Development</h2> -->
            </div>
             <div class="skillsMove col-md-6">
                    <span class="word frontend">Front-End</span>
                    <span class="word backend">Back-End</span>
                    <span class="word apis">APIs </span>
                    <span class="word oop">OOP</span>
                    <span class="word agile">Agile </span>
		            <span class="word testing">Testing </span>
                </div>
        </div>

 <br>
 <br>

        <div class="row">
            <div class="col-md-4 text-center d-flex ftco-animate">
                <div class="services-1">
                    <span class="icon">
                        <i class="flaticon-analysis"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Front-end</h3>
                        <h4>UI Design</h4>
                        <h4>Styling</h4>
                        <h4>UX Setup</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <div class="services-1">
                    <span class="icon">
                        <i class="flaticon-flasks"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Back-End</h3>
                        <h4>Server Adminstration</h4>
                        <h4>Database Management</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <div class="services-1">
                    <span class="icon">
                        <i class="flaticon-ideas"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Mobile</h3>
                        <h4>Mobile Site Styling</h4>
                        <h4>Animaiton</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Hire me Section-->
<section class="ftco-section ftco-hireme" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-9 d-flex align-items-center ftco-animate">
                <h2>I'm <span>Available</span> for Work<br /> As soon as possible</h2>
            </div>
            <div class="col-md-5 col-lg-3 d-flex align-items-center ftco-animate">
                <p class="mb-0"><a href="#contact-section" class="btn btn-white py-4 px-5" id="hiremebtn">Hire me</a></p>
            </div>
        </div>
    </div>
</section>




<!-- Projects Section-->
<section class="ftco-section ftco-project" id="projects-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">

                <h2 class="mb-4">My Projects</h2>
                <p>Take a look at the different software projects that I have worked on!</p>
            </div>
        </div>
        <div class="row">
            <!-- CRM Website -->
            <div class="col-md-12" data-aos="zoom-in-down" data-aos-duration="2000" data-aos-delay="200">
                <div class="project img ftco-animate img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/crmm.jpg);  ">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="crm">CRM Website for Trent Community Research Center</a></h3>
                        <span>Full Stack Development</span>
                        <a class="button" href="crm">Details</a>

                    </div>
                </div>
            </div>
            <!-- React Word Processor -->
            <div class="col-md-6" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200" >
                 <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/wordApp1.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">React Word Processor App</a></h3>
                        <span>Full Stack Development</span>
                        <a class="button" href="reactapp">Details</a>
                    </div>
                </div>
            </div>
            <!-- Angular Site  -->
            <div class="col-md-6" data-aos="fade-up-left" data-aos-duration="1000" data-aos-delay="200">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/home.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="angularsite">Angular Site</a></h3>
                        <span>Full Stack Development</span>
                        <a class="button" href="angularsite">Details</a>
                    </div>
                </div>
            </div>
            <!-- Chatting Program -->
            <div class="col-md-4" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/chat3.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="chat">Chatting Program</a></h3>
                        <span>Object Oriented Programming</span>
                        <a class="button" href="chat">Details</a>
                    </div>
                </div>
            </div>
            <!-- Client Server Processing Program -->
            <div class="col-md-8" data-aos="fade-up-left" data-aos-duration="1000" data-aos-delay="200">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/database.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="clientserver">Client-Server Transfer program</a></h3>
                        <span>Procedural/Structured Programing</span>
                        <a class="button" href="clientserver">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Work Experience Section-->
<section class="ftco-section bg-light" id="work-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <!-- <span class="subheading">Experience</span> -->
                <h2 class="mb-4">Work Experience</h2>
                <p>View my work experience in Computer Science/Technology environments.</p>
            </div>
        </div>
                 <div class="row d-flex">
            <div class="col-md-6 d-flex" data-aos="zoom-in-right"  data-aos-duration="1000" data-aos-delay="200">
                <div class="blog-entry justify-content-end">
                    <img src="images/dms.jpg"  class="block-20" style="border-radius: 25px;  object-fit: cover;" alt="Digital Main Street">
                    </img>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">
                                <span class="mr-2">Digital Main Street</span>
                                <!-- <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a> -->
                            </p>
                        </div>
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">
                                <span class="mr-2">Brampton, Ontario, Canada</span>
                            </p>
                        </div>
                        <h3 class="heading">Web Developer</h3>
                        <ul>
                            <li>Develop and design websites/blogs for small businesses to increase their digital online presence</li>
                            <li>Design and manage websites using Shopify, WordPress, Weebly, Joomla, VistaPrint and Kajabi</li>
                            <li>Domain Migration</li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-6 d-flex" data-aos="zoom-in-left"  data-aos-duration="1000" data-aos-delay="200">
                <div class="blog-entry justify-content-end">
                    <a  class="block-20" style="background-image: url('images/ebgames.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">
                                <span class="mr-2">EB Games</span>
                                <!-- <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a> -->
                            </p>
                        </div>
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">
                                <span class="mr-2">Brampton, Ontario, Canada</span>
                            </p>
                        </div>
                        <h3 class="heading">Product Distribution Management</h3>
                        <ul>
                            <li>Using a rf scanner to shelve video games</li>
                            <li>Order picking of gaming products</li>
                            <li>Packaging products</li>
                            <li>Shipping and Receiving</li>
                            <li>Correctly pack and label products to be prepared for shipment</li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        <div class="row d-flex">
            <div class="col-md-6 d-flex" data-aos="zoom-in-right"  data-aos-duration="1000" data-aos-delay="200">
                <div class="blog-entry justify-content-end">
                    <img  src="images/trent.jpg" class="block-20" style="object-fit: contain; background-color:white;" alt="Trent University">
                    </img>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">
                                <span class="mr-2">Trent University</span>
                                <!-- <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a> -->
                            </p>
                        </div>
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">
                                <span class="mr-2">Peterborough, Ontario, Canada</span>
                            </p>
                        </div>
                        <h3 class="heading">Software Engineering Project</h3>
                        <ul>
                            <li>Capstone Course at Trent University</li>
                            <li>Working with a team to redesign Trent Community Research Center’s database UI</li>
                            <li>Developed CRM Website for management of Client’s database</li>
                            <li>Added notification and chatting features</li>
                            <li>Using Agile Development Methodology with client</li>
                            <li>Use of MVC design architecture</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex" data-aos="zoom-in-left" data-aos-duration="1000" data-aos-delay="200">
                <div class="blog-entry justify-content-end">
                    <img src="images/hack5.jpg"  class="block-20" style="object-fit: contain; background-color:white;" alt="Trent University Electric City Hackathon">
                    </img>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">
                                <span class="mr-2">Trent University <br />Electric City Hackathon</span>
                            </p>
                        </div>
                        <div class="d-flex align-items-center mb-3 meta">
                            <p class="mb-0">
                                <span class="mr-2">Peterborough, Ontario, Canada</span>
                            </p>
                        </div>
                        <h3 class="heading">Hackathon Organizer</h3>
                        <ul>
                            <li>Worked with Marketing team to promote event</li>
                            <li>Managed Electric City Hackathon social media accounts for marketing purposes</li>
                            <li>Created social media posts on Instagram, Twitter and Facebook for EC Hackathon</li>
                            <li>Assist in answering coding-based questions from Hackathon programmers during the event</li>
                            <li>Managing and scheduling of Sponsors workshop times during the event</li>
                        </ul>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>




<!-- Contact Section-->
<section class="ftco-section contact-section ftco-no-pb" id="contact-section" data-aos="zoom-in-down" data-aos-duration="2000" data-aos-delay="200">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Contact</span>
                <h2 class="mb-4">Contact Me</h2>
                <p>If you like what you see, send me a message and we can discuss any project ideas or employment opportunities!</p>
            </div>
        </div>

        <div class="row no-gutters block-9">
            <div class="col-md-12 order-md-last d-flex">
                <form action="/contact" method="POST" class="bg-light p-4 p-md-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name" name="name" required alt="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email" name="email" required alt="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject" name="subject" required alt="Subject">
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Message" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5" alt="Submit">
                    </div>
                </form>

            </div>

           <!-- <div class="col-md-6 d-flex">
                <div class="img" style="background-image: url(images/jpgdenz1.jpg); height:750px;"></div>
            </div> -->
        </div>
    </div>
</section>




<!-- Disabling and Enabling scroll on popup -->
<script>
    function disablescroll() {
        document.body.style.overflowY = "hidden";
    }
    function enablescroll() {
        document.body.style.overflowY = "scroll";
    }
</script>
