<section class="ftco-section bg-light" id="skills-section">
    <div class="container ftco-animate">
        <div class="row justify-content-center pb-5 ftco-animate">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4" id="crm">Chatting Program</h1>

                <div class="col-md-12">
                    <img src="images/project-3.jpg" style="width: 80%;" />
                </div>
            </div>
        </div>
                    <div class="ftco-animate">
                        <ul>
                            <li>Built a chatting application that allows clients to send messages to each other</li>
                            <li>Developed using Java</li>
                            <li>Establish TCP connections between 5 clients</li>
                            <li>Users have option to enable Encryption and decryption of messages for enhanced security</li>                                           
                        </ul>
                    </div>                         
    </div>
</section>