<section class="ftco-section bg-light" id="skills-section">
    <div class="container ftco-animate">
        <div class="row justify-content-center pb-5 ftco-animate">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4" id="crm">Chatting Program</h1>

                <div class="col-md-12">
                    <img src="images/chat2.jpg" style="width: 80%; height:540px" />
                </div>
            </div>
        </div>
        <div class="col-md-12 justify-content-center text-center" style="margin-bottom:20px;">
            <div class="row justify-content-center text-center">
                <div class="" id="logo">
                    <i class="devicon-java-plain-wordmark colored" id="java"></i>
                </div>



            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate justify-content-center">
                <ul>
                    <li>Built a chatting application that allows clients to send messages to each other</li>
                    <li>Developed using Java</li>
                    <li>Establish TCP connections between 5 clients</li>
                    <li>Users have option to enable Encryption and decryption of messages for enhanced security</li>
                    <a id="button1" href="https://github.com/Denzel-Awuah/chat-app">View on Github</a>
                </ul>
            </div>



        </div>
    </div>
</section>
