<section class="ftco-section bg-light" id="skills-section">
    <div class="container ftco-animate">
        <div class="row justify-content-center pb-5 ftco-animate">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4" id="crm">CRM Website for Trent Comminity Research Center</h1>

                <div class="col-md-12">
                    <img src="images/crm3.png" style="width: 80%;" />
                </div>
            </div>
        </div>
                    <div class="ftco-animate">
                        <ul>
                            <li>CapStone Course at Trent University</li>
                            <li>Working with a team to redesign database UI for Trent Comminity Research Center (TCRC)</li>
                            <li>Developed CRM Website for management of Client’s database </li>
                            <li>Website includes ability to modify phpMyAdmin database</li>
                            <li>Use of third-partyAPIs to include notification and chatting features</li>
                            <li>Website features login system for Admins and students</li>
                            <li>Website features Access Control based on account type</li>
                        </ul>
                    </div>                         
    </div>
</section>