<section class="ftco-section bg-light" id="skills-section">
    <div class="container ftco-animate">
        <div class="row justify-content-center pb-5 ftco-animate">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4" id="crm">CRM Website for Trent Comminity Research Center</h1>

                <div class="col-md-12">
                    <img src="images/crm2.png" style="width: 80%;" />
                </div>
            </div>
        </div>
        <div class="col-md-12 justify-content-center text-center" style="margin-bottom:20px;">
            <div class="row justify-content-center text-center"  >
                <div class="" id="logo">
                    <i class="devicon-html5-plain-wordmark colored " id="html"></i>
                </div>
                <div class="" id="logo" >
                    <i class="devicon-javascript-plain colored" id="javas"></i>
                </div>
                <div class="" id="logo" >
                    <i class="devicon-php-plain colored" id="php"></i>
                </div>
                <div class="" id="logo">
                    <i class="devicon-css3-plain-wordmark colored" id="css"></i>

                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate justify-content-center ">
                <ul>
                    <li>CapStone Course at Trent University</li>
                    <li>Working with a team to redesign database UI for Trent Comminity Research Center (TCRC)</li>
                    <li>Developed CRM Website for management of Client’s database using HTML5, CSS, Javascript and PHP</li>
                    <li>Website includes ability to modify phpMyAdmin database</li>
                    <li>Use of third-partyAPIs to include notification and chatting features</li>
                    <li>Website features login system for Admins and students</li>
                    <li>Website features Access Control based on account type</li>
                </ul>
            </div>


        </div>
</section>