<section class="ftco-section bg-light" id="skills-section">
    <div class="container ftco-animate">
        <div class="row justify-content-center pb-5 ftco-animate">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4" id="crm">Movie Gallery Website</h1>

                <div class="col-md-12">
                    <img src="images/movie.png" style="width: 80%;" />
                </div>
            </div>
        </div>
        <div class="col-md-12 justify-content-center text-center" style="margin-bottom:20px;">
            <div class="row justify-content-center text-center">
                <div class="" id="logo">
                    <i class="devicon-html5-plain-wordmark colored " id="html"></i>
                </div>
                <div class="" id="logo">
                    <i class="devicon-javascript-plain colored" id="javas"></i>
                </div>
                <div class="" id="logo">
                    <i class="devicon-php-plain colored" id="php"></i>
                </div>
                <div class="" id="logo">
                    <i class="devicon-css3-plain-wordmark colored" id="css"></i>
                </div>
                <div class="" id="logo">
                    <i class="devicon-mysql-plain-wordmark colored" id="sql"></i>
                </div> 
                <div class="" id="logo">
                    <i class="devicon-jquery-plain-wordmark colored" id="jq"></i>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ftco-animate" id="mov1">
                <ul>
                    <li>Designed a website that showcases Movie information using HTML and CSS </li>
                    <li>Developed website functionality using JavaScript and jQuery</li>
                    <li>Created website backend using PHP and SQL</li>
                    <li>Manage database using MySQL and phpMyAdmin</li>
                </ul>
            </div>

        </div>
    </div>
</section>


