<section class="ftco-section bg-light" id="skills-section">
    <div class="container ftco-animate">
        <div class="row justify-content-center pb-5 ftco-animate">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4" id="crm">Movie Gallery Website</h1>

                <div class="col-md-12">
                    <img src="images/movies.jpg" style="width: 80%;" />
                </div>
            </div>
        </div>
                    <div class="ftco-animate">
                        <ul>
                            <li>Designed a website that showcases Movie information using HTML CSS </li>
                            <li>Developed website functionality using JavaScript and jQuery</li>
                            <li>Created website backend using PHPand SQL</li>
                            <li>Manage databaseusing MySQLand phpMyAdmin</li>                        
                        </ul>
                    </div>                         
    </div>
</section>