<section class="ftco-section bg-light" id="skills-section">
    <div class="container ftco-animate">
        <div class="row justify-content-center pb-5 ftco-animate">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="mb-4" id="crm">React Word-Processor/Thesaurus App</h1>

                <div class="col-md-12">
                    <img src="images/wordApp.png" style="width: 80%;" />
                </div>
            </div>
        </div>
        <div class="col-md-12 justify-content-center text-center" style="margin-bottom:20px;">
            <div class="row justify-content-center text-center"  >
                <div class="" id="logo">
                    <i class="devicon-react-original-wordmark colored" id="html"></i>
                </div>
                <div class="" id="logo" >
                    <i class="devicon-javascript-plain colored" id="javas"></i>
                </div>
                <div class="" id="logo" >
                    <i class="devicon-html5-plain-wordmark colored " id="html"></i>
                </div>
                <div class="" id="logo">
                    <i class="devicon-css3-plain-wordmark colored" id="css"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 justify-content-center ">
                <ul>
                    <li>Perform operations on a word/phrase to generate a collection of related words based on the operation</li>
                    <li>Uses the Datamuse API to retrieve words</li>
                    <li>Application can be used as a Thesaurus alternative</li>
                    <li>Users can click on a word to change the value of the entered word</li>      
                    <li>Once word is changed, operations can be performed on the new word</li>
                    <a id="button1" href="https://github.com/Denzel-Awuah/react-wordprocessor">View on Github</a>
                </ul>
                                       

            </div>
        </div>

    </div>  

                
</section>